@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    @apply bg-background dark:bg-background_dark;
  }
  html.dark body {
    @apply bg-background_dark;
  }
}

@font-face {
  font-family: VTC;
  src: url("/src/VTC-BadDrip.ttf") format("woff2");
}

h1 {
  font-family: VTC;
  color: red;
}
#title {
  letter-spacing: 0.2em;
}
.inputform {
  @apply h-12 px-2 bg-secondary border-black text-white w-full mt-1 border rounded-md shadow-sm focus:outline-none focus:ring-primary focus:border-primary;
}

/* .btn-primary {
  @apply bg-primary dark:bg-secondary_dark border-none text-lg rounded-md font-semibold md:px-10 px-8 py-2 md:text-lg normal-case hover:-translate-y-1 hover:translate-x-1 hover:origin-top;
} */

.btn-secondary {
  @apply border-white border-2 dark:border-background_dark bg-secondary_dark dark:bg-accent_dark hover:bg-primary_dark dark:hover:border-primary hover:border-2 hover:border-secondary_dark hover:shadow-lg dark:hover:bg-secondary dark:text-black text-white dark:hover:text-white rounded-md font-semibold normal-case  font-main;
}

html {
  background-color: rgb(0 0 15 / var(--tw-bg-opacity)) !important;
}

.playing {
  @apply bg-primary_dark bg-gradient-to-t from-primary_dark via-background_dark_4 to-primary_dark text-white border-none rounded-md font-semibold px-8 text-lg normal-case !important;
}
