:root {
  --background_dark: #000010; /* Blackish */
  --background_dark_secondary: #15053d; /* CTA purple */
  --background_dark_4: #1f69b2; /* Blueish for gradient */
  --primary_dark: #8256f0; /* light purple */
  --secondary_dark: #15053d; /* Dark purple */
  --accent_dark: #40d4b1; /* Light green */
  --new_green: #023020; /* Dark green */

  --primary: #5b17d2; /* lighter purple */
  --secondary: #072640; /* dark blue */
  --black: #00000f;
  --white: #f6fafe;
}

.bg-background_dark_secondary {
  fill: var(--background_dark_secondary);
}

.bg-background_dark {
  fill: var(--background_dark);
}

.bg-new_green {
  fill: var(--new_green);
}

/* Splide image slider */
/* Both tracks */
.splide__track {
  margin: 0 20px;
}

.splide__slide {
  padding: 0;
}
/* Bottom track */
.thumbnail-slider {
  padding: 0 15px;
  margin: 0 auto;
}

/* Arrows */
.splide__arrow svg {
  @apply fill-accent_dark !important;
}

/* Pagination */
.splide__pagination__page.is-active {
  @apply bg-accent_dark !important;
}

.splide__pagination__page {
  @apply bg-background_dark !important;
}

/* Active bottom slide */
.thumbnail-slider .is-active {
  @apply border-2 border-solid border-accent_dark !important;
}

.main-slider {
  @apply pt-5;
}

/* Small screens */
.splide__arrow--prev {
  @apply -left-4 top-[43%]  !important;
}

.splide__arrow--next {
  @apply -right-4 top-[43%] !important;
}

.main-slider {
  @apply mx-3 py-2 !important;
}

.splide__pagination {
  @apply static my-3 !important;
}

.thumbnail-slider {
  @apply py-0 !important;
}
