:root {
  --background_dark: #000010; /* Blackish */
  --background_dark_secondary: #15053d; /* CTA purple */
  --background_dark_4: #1f69b2; /* Blueish for gradient */
  --primary_dark: #8256f0; /* light purple */
  --secondary_dark: #15053d; /* Dark purple */
  --accent_dark: #40d4b1; /* Light green */
  --new_green: #426a5a; /* Dark green */

  --primary: #5b17d2; /* lighter purple */
  --secondary: #072640; /* dark blue */
  --black: #00000f;
  --white: #f6fafe;
}

.bg-background_dark_secondary {
  fill: var(--background_dark_secondary);
}

.bg-background_dark {
  fill: var(--background_dark);
}

.bg-new_green {
  fill: var(--new_green);
}

/* Splide image slider */
/* Both tracks */
.splide__track {
  margin: 0 20px;
}
/* Bottom track */
#splide02 {
  padding: 0 15px;
  margin: 0 auto;
}

/* Arrows */
.splide__arrow svg {
  fill: var(--accent_dark) !important;
}

/* Pagination */
.splide__pagination__page.is-active {
  background-color: var(--accent_dark) !important;
}

.splide__pagination__page {
  background-color: var(--background_dark) !important;
}

/* Active bottom slide */
#splide02 .is-active {
  border: 3px solid var(--accent_dark) !important;
}

.splide__slide.is-active {
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
}

.splide__slide {
  transform: scale(0.8);
  transition: transform 0.1s ease-in-out;
}
